.field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &Input {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(var(--gray), .2);
    padding: 8px;
    font-family: inherit;

    &:focus-visible {
      outline:  rgba(var(--gray), .5) auto 1.6px;
    }

    &.withLabel {
      margin-left: 4px;
    }
  }

}
